@model SofiaToday.Web.ViewModels.Events.EventViewModel

<div class="col-md-4 event-item">
    <a href="/events/details/@Model.Id">
        <img class="img-responsive" src="@Model.ImageUrl" alt="@Model.Title" />
    </a>
    <div class="event-category">@Model.Category</div>
    <div class="event-summary">
        <a href="/events/details/@Model.Id">
            <h4>@Model.Title</h4>
        </a>
        <p>@Html.DisplayFor(m => m.Location)</p>
        <p>@Html.DisplayFor(m => m.StartDateTime)</p>
        <p>@Html.DisplayFor(m => m.Price)</p>
    </div>
</div>
