@model SofiaToday.Web.ViewModels.Events.DetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h3>@Model.Event.Title</h3>

<div class="col-md-9">
    <img class="img-responsive" src="@Model.Event.ImageUrl" alt="@Model.Event.Title" />
    <div class="col-md-12 well">
        @Html.DisplayFor(m => m.Event.Location)<br />
        @Html.DisplayFor(m => m.Event.Price)<br />
        @Html.DisplayFor(m => m.Event.StartDateTime)
    </div>

    <div class="col-md-12">
        <p>@Model.Event.Description</p>
    </div>
</div>

<div class="col-md-3">
    @Html.Partial("_MoreDetailsPartial")
    <hr />
    @Html.Partial("_RelatedEventsPartial")
</div>
