@model IEnumerable<SofiaToday.Web.ViewModels.Events.EventViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach(var item in Model)
    {
    <div class="col-md-4">
        <p>@item.Title</p>
        <p>@item.Location</p>
        <p>@item.Price</p>
        <p>@item.StartDateTime</p>
        <p>@item.EndDateTime</p>
        <p>@item.Description</p>
    </div>
}
