@model SofiaToday.Web.ViewModels.Home.IndexViewModel

<section id="events-today">
    <h2>Events Today - @DateTime.Today.ToString("dd MMMM")</h2>

    <div class="list-group">
        @foreach (var item in Model.DailyEvents)
        {
            <div class="list-group-item">
                <div class="row-picture">
                    <a href="/events/details/@item.Id"><img class="circle" src="@item.ImageUrl" alt="@item.Title"></a>
                </div>
                <div class="row-content">
                    <div class="col-md-6">
                        <a href="/events/details/@item.Id"><strong>@item.Title</strong> <br /></a>
                        @item.Location
                    </div>
                    <div class="col-md-4">@item.Category</div>
                    <div class="col-md-2">@item.StartDateTime.Hour:@item.StartDateTime.Minute</div>
                </div>
            </div>
            <div class="list-group-separator"></div>
        }
    </div>
</section>
