<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SofiaToday</title>

    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/material")
    @Styles.Render("~/Content/kendo")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
</head>
<body>
    @RenderSection("sharing", required: false)

    @Html.Partial("_NavigationPartial")

    <div class="container body-content">

        @RenderSection("messages", required: false)

        @Html.Partial("_NotificationsPartial")

        @if (IsSectionDefined("Sidebar"))
           {
            <div class="col-md-9">@RenderBody()</div>
            <div class="col-md-3">@RenderSection("Sidebar", required: false)</div>
        }
        else
        {
            @RenderBody()
        }
    </div>

    @Html.Partial("_FooterPartial")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/material")
    @RenderSection("scripts", required: false)

    <script>
        (function () {
            $.material.init();
        })();
    </script>
</body>
</html>
