<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SofiaToday</title>

    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/material")
    @Styles.Render("~/Content/kendo")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")

</head>
<body>
    @* Facebook Sharing *@
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=1610787885810301";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SofiaToday", "Index", "Home", new { area = string.Empty }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Events", "Index", "Events", new { area = string.Empty }, null)</li>
                    <li>@Html.ActionLink("Articles", "Index", "Articles", new { area = string.Empty }, null)</li>

                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("My Events", "Index", "MyEvents", new { area = string.Empty }, null)</li>
                    }

                    @if (User.IsInRole("Business"))
                    {
                        <li>@Html.ActionLink("Create Event", "Create", "Events", new { area = string.Empty }, null)</li>
                    }

                    @if (User.IsInRole("Moderator"))
                    {
                        <li>@Html.ActionLink("Create Event", "Create", "Events", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("Create Article", "Create", "Articles", new { area = string.Empty }, null)</li>
                    }
                </ul>
                @Html.Partial("_AdminPartial")
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">

        @if (this.TempData["Notification"] != null)
        {
            <div class="alert alert-success">@this.TempData["Notification"]</div>
        }

        @RenderBody()
        <hr />
    </div>
    <footer>
        <div class="footer" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 ">
                        <h3>Information</h3>
                        <ul>
                            <li> <a href="/information/about">About Us</a> </li>
                            <li> <a href="/information/contact">Contact Us</a> </li>
                        </ul>
                    </div>
                    <div class="col-md-3 ">
                        <h3>Categories</h3>
                        <ul>
                            <li><a href="#">Nightlife</a></li>
                            <li><a href="#">Concerts</a></li>
                            <li><a href="#">Cinema</a></li>
                            <li><a href="#">Theatre</a></li>
                            <li><a href="#">Activities</a></li>
                            <li><a href="#">Art</a></li>
                            <li><a href="#">Misc</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 ">
                        <h3>Extras</h3>
                        <ul>
                            <li><a href="#">Articles</a></li>
                            <li><a href="#">Places</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 ">
                        <h3>Keep in Touch</h3>
                        <ul>
                            <li><a href="mailto:stoyan.berov@gmail.com">My Email</a></li>
                            <li><a href="www.github.com/stoberov">My Github</a></li>
                            <li><a href="https://www.linkedin.com/in/stoyanberov">My LinkedIn</a></li>
                        </ul>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </div>
        <!--/.footer-->

        <div class="footer-bottom">
            <div class="container">
                <p class="text-center">
                    Made with hands in Bulgaria. <br />
                    Copyright © SofiaToday. All right reserved.
                </p>
            </div>
        </div>
        <!--/.footer-bottom-->
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/material")
    @RenderSection("scripts", required: false)

    <script>
        (function () {
            $.material.init();
        })();
    </script>
</body>
</html>
